.container-header {
  inline-size: 100%;
  block-size: 70px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 0 5px hsla(0, 0%, 0%, 0.169);
  position: fixed;
  inset-block-start: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: hsl(204, 60%, 45%);
  transition: color 0.2s linear;
}

.nav-link:hover {
  color: hsl(204, 81%, 60%);
}
